<div class="lc-design-system-typography notice notice-info lc-notice" id="lc-connect-notice">
    <div class="lc-notice-column">
        <img class="lc-notice-logo" src="{{ lcNoticeLogoUrl }}" alt="LiveChat logo" />
    </div>
    <div class="lc-notice-column">
        <p id="lc-connect-notice-header">
            {{ header }}
        </p>
        <p>
            {{ notice }}
        </p>
    </div>
    <div class="lc-notice-column" id="lc-connect-notice-button-column">
        <p>
            <button class="lc-btn lc-btn--primary" id="lc-connect-notice-button" type="button">
                {{ button }}
            </button>
        </p>
    </div>
</div>
